<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{{htmlWebpackPlugin.options.title}}</title>
	</head>
	<body>

		<div class="wrapper">
			<header class="header">
				<h1 class="header__title">Книга контактов</h1>
			</header>
			<div class="search">
				<input class="search__filter" type="text" placeholder="Поиск контактов">
			</div>
			<div class="content">
				<button class="button btn__save">Сохранить список контактов</button>
				<ul class="list">
				{{> "./src/templates/content.hbs"}}
				</ul>
			</div>
		</div>

	</body>
</html>
